In [5]:
tup = tuple({3,4,5})
tup

(3, 4, 5)

In [7]:
a, b, c = (4,6,7)
a

4

In [17]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for i, j, k in seq:
    #print('a={0}, b={1}, c={2}'.format(i,j,k))
    print(f'a={i}, b={j}, c={k}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [24]:
values = 1, 2, 3, 4, 5
a, b, *_ = values
print(_)

[3, 4, 5]

In [36]:
a = range(30000)
list(a)
dir(a)
a.count(29000)
len(a)

30000

In [55]:
a_list = ['foo', 'peekaboo', 'baz', 'dwarf']
a_list.insert(4, "hello")
a_list

['foo', 'peekaboo', 'baz', 'dwarf', 'hello']

In [56]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [58]:
hel = 'hello!'
hel[-5:-3]

'el'

In [76]:
a_list = ['foo', 'peekaboo', 'baz', 'dwarf']
some_tup = ('foo', 'peekaboo', 'baz', 'tall')

mapping = {}
for i, j in enumerate(a_list):
    print((i, j))
    mapping[j] = i

print(mapping)

(0, 'foo')
(1, 'peekaboo')
(2, 'baz')
(3, 'dwarf')
{'foo': 0, 'peekaboo': 1, 'baz': 2, 'dwarf': 3}

In [77]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [81]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq2, seq1)
list(zipped)

[('one', 'foo'), ('two', 'bar'), ('three', 'baz')]

In [90]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Curt', 'Schilling')]
# first, last = zip(*pitchers)
first = []
second = []
for i,j in pitchers:
    first.append(i)
    second.append(j)

print(first)
print(second)

['Nolan', 'Roger', 'Curt']
['Ryan', 'Clemens', 'Schilling']

In [93]:
fname, lname = zip(*pitchers)
lname

('Ryan', 'Clemens', 'Schilling')

In [102]:
list(range(10))
reversed([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [104]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [117]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
words_list_a = []
words_list_b = []
for word in words:
    letter = word[0]
    print(letter)
    if letter == 'a':
        words_list_a.append(word)
        by_letter.update({letter: words_list_a})
    elif letter == 'b':
        words_list_b.append(word)
        by_letter.update({letter: words_list_b})
    
print(by_letter)

a
b
b
a
b
{'a': ['apple', 'atom'], 'b': ['apple', 'atom']}